/* font  */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-thin-italic {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-extralight-italic {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-light-italic {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: italic;
}

*/

* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", serif;
}

/* body */
body {
  background-color: #F5F5F5;
}

/* navigation section */

nav {
  margin-bottom: 20px;
}

.navigation {
  display: flex;
  padding: 24px 153px;
  justify-content: space-between;
  align-items: center;
}

.navigation .nav-btn {
  color: rgb(0, 106, 80);
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;

}

/* main */
main {
  width: 1228px;
  margin: 0 auto;
}

/* banner */
.banner {
  border-radius: 24px;
  background: rgb(198, 228, 214);
  padding: 76px 80px;
}

.banner .banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner .banner-container .sub-title {
  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}

.banner .banner-container .heading {
  margin: 16px 0px;
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 56px;
  font-weight: 700;
  text-align: left;
}

.primary-btn {
  margin-top: 24px;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  padding: 15px 30px 15px 30px;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border: none;
}

/* Pillars of "Bangladesh 2.0" section */
.pillers {
  margin: 75px 0px;
}

.pillers .cart-container {
  margin-top: 30px;
  display: flex;
  gap: 24px;
}

.pillers .cart-container .cart {
  padding: 24px;
  /* display: flex; */
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);

}

/* vision section */
.section-heading {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;

}

.vision .section-description {
  margin: 12px 0px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.vision .cart-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.vision .cart-container .cart-1 {
  margin: 24px 0px;
  padding: 32px;
  border-radius: 16px;
  background: rgba(84, 144, 245, 0.2);
}

.vision .cart-container .cart-2{
  margin: 24px 0px;
  padding: 32px;
  border-radius: 16px;
  background: rgb(198, 228, 214);
}

.vision .cart-container .cart-3 {
  margin: 24px 0px;
  padding: 32px;
  border-radius: 16px;
  background: rgb(247, 235, 207);
}
.vision .cart-container h3 {
  margin: 12px 0px;
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
.vision .cart-container p {
  margin-bottom: 24px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.cart-btn {
  padding: 10px 18px 10px 18px;
  margin-bottom: 24px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border: none;
}

.cart-1 .cart-btn {

  background: rgb(84, 144, 245);
}

.cart-2 .cart-btn {
  background: rgb(9, 161, 92);
}

.cart-3 .cart-btn {
  background: rgb(255, 194, 57);
}